  <body>

    <h2>Cotizaci贸n</h2>
<table class="cotizacion-table" id="anotherTable">
  <tr class="cotizacion-table-head">
    <th>SKU</th>
    <th>Linea</th>
    <th>Descripci贸n</th>
    <th>Conteo</th>
  </tr>
</table>
<button id="saveAsHtml">Save Table as PDF</button>
    <div class="busqueda-main">
<div class="sub-header">
<h1>Buscador</h1>
</div>
  <!-- Add the search form -->
  <form action="/tools" method="get">
    <label for="search">Search: </label>
    <input type="text" id="search" name="search">
    <button type="submit">Search</button>
  </form>
</div>
  <!-- Display the search results -->
  {{#if search}}
    <p>Search results for "{{search}}":</p>
    <table class="busqueda-table">
      <tr class="busqueda-table-head">
        <th>SKU</th>
        <th>Linea</th>
        <th>Descripci贸n</th>
        <th>Conteo</th>
        <th>Agregar</th>
      </tr>
    {{#each tools}}
      <tr>
          <td>{{this.dataValues.sku}}</td>   
          <td>{{this.dataValues.line}}</td>
          <td>{{this.dataValues.description}}</td>
          <td>{{this.dataValues.count}}</td>
          <td><img src="images/add_icon.jpg" alt="" srcset=""></td>
          </tr>
    {{/each}}
    </table>
  {{else}}
    <table class="busqueda-table">
      <tr class="busqueda-table-head">
        <th>SKU</th>
        <th>Linea</th>
        <th>Descripci贸n</th>
        <th>Conteo</th>
        <th>Agregar</th>
      </tr>
      {{#each tools}}
        <tr>
          <td>{{this.dataValues.sku}}</td>   
          <td>{{this.dataValues.line}}</td>
          <td>{{this.dataValues.description}}</td>
          <td>{{this.dataValues.count}}</td>
          <td><button onclick="addToAnotherTable(this)">Add</button></td>
          </tr>
      {{/each}}
    </table>
  {{/if}}

  </body>
