
  <body>
    
    {{!-- <div class="busqueda-main">
      <div class="busqueda-nav">
    <h1 class="title">Busqueda</h1>
    <input type="text">
    <button>Buscar</button>
    </div>
    <table class="busqueda-table">
      <tr class="busqueda-table-head">
        <th>SKU</th>
        <th>Linea</th>
        <th>Descripción</th>
        <th>Conteo</th>
      </tr>
      {{#each tools}}
        <tr>
          <td>{{this.dataValues.sku}}</td>   
          <td>{{this.dataValues.line}}</td>
          <td>{{this.dataValues.description}}</td>
          <td>{{this.dataValues.count}}</td>
          </tr>
      {{/each}}
    </table>
    </div> --}}

<h1>Tools</h1>

  <!-- Add the search form -->
  <form action="/tools" method="get">
    <label for="search">Search: </label>
    <input type="text" id="search" name="search">
    <button type="submit">Search</button>
  </form>

  <!-- Display the search results -->
  {{#if search}}
    <p>Search results for "{{search}}":</p>
    <table class="busqueda-table">
      <tr class="busqueda-table-head">
        <th>SKU</th>
        <th>Linea</th>
        <th>Descripción</th>
        <th>Conteo</th>
      </tr>
    {{#each tools}}
      <tr>
          <td>{{this.dataValues.sku}}</td>   
          <td>{{this.dataValues.line}}</td>
          <td>{{this.dataValues.description}}</td>
          <td>{{this.dataValues.count}}</td>
          </tr>
    {{/each}}
    </table>
  {{else}}
    <table class="busqueda-table">
      <tr class="busqueda-table-head">
        <th>SKU</th>
        <th>Linea</th>
        <th>Descripción</th>
        <th>Conteo</th>
      </tr>
      {{#each tools}}
        <tr>
          <td>{{this.dataValues.sku}}</td>   
          <td>{{this.dataValues.line}}</td>
          <td>{{this.dataValues.description}}</td>
          <td>{{this.dataValues.count}}</td>
          </tr>
      {{/each}}
    </table>
  {{/if}}

  </body>
